[Desktop Entry]
Name=Steam Big Picture
Comment=Start Steam In Big Picture Mode for touch devices
Type=Application
Terminal=False
Exec=steam steam://open/bigpicture
Icon=steam
MimeType=x-scheme-handler/steam;x-scheme-handler/steamlink;