[branch]
        sort = -committerdate
[column]
        ui = auto
[commit]
        verbose = true
[core]
        fsmonitor = true
        untrackedCache = true
[diff]
        algorithm = histogram
        colorMoved = plain
        mnemonicPrefix = true
        renames = true
        tool = difftool
[difftool]
        prompt = false
[difftool "difftastic"]
        cmd = difftastic "$LOCAL" "$REMOTE"
[fetch]
        all = true
        prune = true
        pruneTags = true
[help]
        autocorrect = prompt
[init]
        defaultBranch = main
[merge]
        conflictStyle = zdiff3
[pull]
        rebase = true
[push]
        default = simple
        autoSetupRemote = true
        followTags = true
[rebase]
        autoSquash = true
        autoStash = true
        updateRefs = true
[rerere]
        enabled = true
        autoupdate = true
[status]
        showStash = true
[tag]
        sort = version:refname